<app-targisheader></app-targisheader>
<div class="portlet box blue">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i>Form Sample </div>
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                                    <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                                                    <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body form">
                                                <!-- BEGIN FORM-->
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-body">
                                                        
                                                        <h2 class="margin-bottom-20"> Property Details </h2>
                                                        <h3 class="form-section">Basic Information</h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Points:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.totalpoints}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Full Address:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol33}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Jurisdiction:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol45}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Deed AC LT NBR:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol62}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
														</div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Neighborhood Full Description:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol70}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Year Built:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol120}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
														</div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Total Bedrooms:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol124}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Total Full Bath:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol125}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Total Half Bath:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol126}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Total Market Value:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol107}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
														
                                                        <h3 class="form-section">Latest Sale</h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Sale Date:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol73}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Sale Instrument Type:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol79}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Sale Price:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol91}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
														
														<h3 class="form-section">Owner Information</h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Owner Full Name:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol49}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
															<div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Mailing Address: </label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol54}} </p>
																		<p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol55}} </p>
																		<p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol56}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">ZipCode:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol57}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
															
                                                        </div>
														
														<h3 class="form-section">Geographical Information</h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3"> Longitude: </label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol12}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
															<div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3"> Latitude: </label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol13}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
															<div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3"> Street View x: </label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol14}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3"> Street View y: </label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol15}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
														</div>
                                                        <!--/row-->
                                                        <div class="row">
															<div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3"> Street View Direction: </label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol16}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
															<div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3"> Street View Degree: </label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{searchDetailsResponse.csv_dumpcol17}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->

                                                        </div>
														
                                                    </div>
                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-offset-3 col-md-9">
                                                                        <button type="button" class="btn default" (click)="navigateBack()">Back To Search Screen</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6"> </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- END FORM-->
                                            </div>
                                        </div>
