<app-targisheader></app-targisheader>

<div class="portlet box blue">
  <div class="portlet-title">
      <div class="caption">
          <i class="fa fa-gift"></i>points Criteria Form </div>

<div class="tools">
<a href="" class="collapse" data-original-title="" title=""> </a>
<!--a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
<a href="" class="reload" data-original-title="" title=""> </a>
<a href="" class="remove" data-original-title="" title=""> </a-->
</div>													

  </div>
  <div class="portlet-body form">
      <!-- BEGIN FORM-->
      <form action="#" class="horizontal-form">
          <div class="form-body">
              <h3 class="form-section">Enter points Criteria below:</h3>

<!--Criteria row starts-->
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="control-label">points Criteria #1</label>
                          <input type="text" id="criteriaName0" name="criteriaName0" list="parcel_headers" class="form-control" placeholder="Enter points Criteria #1" [(ngModel)]="pointsCriteria[0].criteriaName" >

                          <!--span class="help-block"> This is inline help </span-->
                      </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-3">
						<div class="form-group">
						<label>Condition</label>
						<select id="criteriaCondition0" name="criteriaCondition0" class="form-control" [(ngModel)]="pointsCriteria[0].criteriaCondition" >
						<option value="<">Less Than</option>
						<option value=">">Greater Than</option>
						<option value="=">Equals</option>
						<option value="!=">Not Equals</option>
						</select>
						</div>
                  </div>
                  <!--/span-->
                  <div class="col-md-3">
                      <!--div class="form-group has-error"-->
                      <div class="form-group">																
                          <label class="control-label">Condition Value</label>
                          <input type="text" id="criteriaValue0" name="criteriaValue0" class="form-control" placeholder="Enter condition value" [(ngModel)]="pointsCriteria[0].criteriaValue">
                      </div>
                  </div>

				  <!--/span-->
                  <div class="col-md-3">
                      <!--div class="form-group has-error"-->
                      <div class="form-group">																
                          <label class="control-label">Criteria Points</label>
                          <input type="text" id="criteriaPoints0" name="criteriaPoints0" class="form-control" ng-pattern="/^-?[0-9]\d*(\.\d+)?$/" placeholder="Enter criteria points" [(ngModel)]="pointsCriteria[0].criteriaPoints">
                      </div>
                  </div>
              </div>
<!--Criteria row ends-->														

<!--Criteria row starts-->
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="control-label">points Criteria #2</label>
                          <input type="text" id="criteriaName1" name="criteriaName1" list="parcel_headers" class="form-control" placeholder="Enter points Criteria #2" [(ngModel)]="pointsCriteria[1].criteriaName" >

                          <!--span class="help-block"> This is inline help </span-->
                      </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-3">
						<div class="form-group">
						<label>Condition</label>
						<select id="criteriaCondition1" name="criteriaCondition1" class="form-control" [(ngModel)]="pointsCriteria[1].criteriaCondition" >
						<option value="<">Less Than</option>
						<option value=">">Greater Than</option>
						<option value="=">Equals</option>
						<option value="!=">Not Equals</option>
						</select>
						</div>
                  </div>
                  <!--/span-->
                  <div class="col-md-3">
                      <!--div class="form-group has-error"-->
                      <div class="form-group">																
                          <label class="control-label">Condition Value</label>
                          <input type="text" id="criteriaValue1" name="criteriaValue1" class="form-control" placeholder="Enter condition value" [(ngModel)]="pointsCriteria[1].criteriaValue">
                      </div>
                  </div>
				  <!--/span-->
                  <div class="col-md-3">
                      <!--div class="form-group has-error"-->
                      <div class="form-group">																
                          <label class="control-label">Criteria Points</label>
                          <input type="text" id="criteriaPoints1" name="criteriaPoints1" class="form-control" placeholder="Enter criteria points" [(ngModel)]="pointsCriteria[1].criteriaPoints">
                      </div>
                  </div>
              </div>
<!--Criteria row ends-->			

<!--Criteria row starts-->
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="control-label">points Criteria #3</label>
                          <input type="text" id="criteriaName2" name="criteriaName2" list="parcel_headers" class="form-control" placeholder="Enter points Criteria #3" [(ngModel)]="pointsCriteria[2].criteriaName" >


                          <!--span class="help-block"> This is inline help </span-->
                      </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-3">
						<div class="form-group">
						<label>Condition</label>
						<select id="criteriaCondition2" name="criteriaCondition2" class="form-control" [(ngModel)]="pointsCriteria[2].criteriaCondition" >
						<option value="<">Less Than</option>
						<option value=">">Greater Than</option>
						<option value="=">Equals</option>
						<option value="!=">Not Equals</option>
						</select>
						</div>
                  </div>
                  <!--/span-->
                  <div class="col-md-3">
                      <!--div class="form-group has-error"-->
                      <div class="form-group">																
                          <label class="control-label">Condition Value</label>
                          <input type="text" id="criteriaValue2" name="criteriaValue2" class="form-control" placeholder="Enter condition value" [(ngModel)]="pointsCriteria[2].criteriaValue">
                      </div>
                  </div>
				  <!--/span-->
                  <div class="col-md-3">
                      <!--div class="form-group has-error"-->
                      <div class="form-group">																
                          <label class="control-label">Criteria Points</label>
                          <input type="text" id="criteriaPoints2" name="criteriaPoints2" class="form-control" placeholder="Enter criteria points" [(ngModel)]="pointsCriteria[2].criteriaPoints">
                      </div>
                  </div>
              </div>
<!--Criteria row ends-->			

<!--Criteria row starts-->
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="control-label">points Criteria #4</label>
                          <input type="text" id="criteriaName3" name="criteriaName3" list="parcel_headers" class="form-control" placeholder="Enter points Criteria #4" [(ngModel)]="pointsCriteria[3].criteriaName" >


                          <!--span class="help-block"> This is inline help </span-->
                      </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-3">
						<div class="form-group">
						<label>Condition</label>
						<select id="criteriaCondition3" name="criteriaCondition3" class="form-control" [(ngModel)]="pointsCriteria[3].criteriaCondition" >
						<option value="<">Less Than</option>
						<option value=">">Greater Than</option>
						<option value="=">Equals</option>
						<option value="!=">Not Equals</option>
						</select>
						</div>
                  </div>
                  <!--/span-->
                  <div class="col-md-3">
                      <!--div class="form-group has-error"-->
                      <div class="form-group">																
                          <label class="control-label">Condition Value</label>
                          <input type="text" id="criteriaValue3" name="criteriaValue3" class="form-control" placeholder="Enter condition value" [(ngModel)]="pointsCriteria[3].criteriaValue">
                      </div>
                  </div>	
				  <!--/span-->
                  <div class="col-md-3">
                      <!--div class="form-group has-error"-->
                      <div class="form-group">																
                          <label class="control-label">Criteria Points</label>
                          <input type="text" id="criteriaPoints3" name="criteriaPoints3" class="form-control" placeholder="Enter criteria points" [(ngModel)]="pointsCriteria[3].criteriaPoints">
                      </div>
                  </div>				  
              </div>
<!--Criteria row ends-->			


<!--Criteria row starts-->
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label class="control-label">points Criteria #5</label>
                          <input type="text" id="criteriaName4" name="criteriaName4" list="parcel_headers" class="form-control" placeholder="Enter points Criteria #5" [(ngModel)]="pointsCriteria[4].criteriaName" >


                          <!--span class="help-block"> This is inline help </span-->
                      </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-3">
						<div class="form-group">
						<label>Condition</label>
						<select id="criteriaCondition4" name="criteriaCondition4" class="form-control" [(ngModel)]="pointsCriteria[4].criteriaCondition" >
						<option value="<">Less Than</option>
						<option value=">">Greater Than</option>
						<option value="=">Equals</option>
						<option value="!=">Not Equals</option>
						</select>
						</div>
                  </div>
                  <!--/span-->
                  <div class="col-md-3">
                      <!--div class="form-group has-error"-->
                      <div class="form-group">																
                          <label class="control-label">Condition Value</label>
                          <input type="text" id="criteriaValue4" name="criteriaValue4" class="form-control" placeholder="Enter condition value" [(ngModel)]="pointsCriteria[4].criteriaValue">
                      </div>
                  </div>		
				  <!--/span-->
                  <div class="col-md-3">
                      <!--div class="form-group has-error"-->
                      <div class="form-group">																
                          <label class="control-label">Criteria Points</label>
                          <input type="text" id="criteriaPoints4" name="criteriaPoints4" class="form-control" placeholder="Enter criteria points" [(ngModel)]="pointsCriteria[4].criteriaPoints">
                      </div>
                  </div>				  
              </div>
<!--Criteria row ends-->																	


          </div>

          <div class="form-actions left">
              <button type="button" class="btn blue" (click)="savePointsConfigurationClicked()">
                  Save Points Configuration</button>&nbsp;

                  <button type="button" class="btn default" (click)="navigateBack()">
                    Back To Search Screen</button>                  
          </div>

      </form>
      <!-- END FORM-->
  </div>


<datalist id="parcel_headers">
<option *ngFor="let headerValue of csvHeaders; index as idx" value="{{ idx+1 }}:{{ headerValue }}">{{ idx+1 }}:{{ headerValue }}</option>
</datalist>



</div>
