<div class="portlet box blue">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-gift"></i>Search Criteria Form </div>
													
													<!--div class="tools">
														<a (click)="this.router.navigateByUrl('/login')" class="fa fa-minus-square fa-3x" data-original-title="Logout" title="Logout"> </a>
														<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
														<a href="" class="reload" data-original-title="" title=""> </a>
														<a href="" class="remove" data-original-title="" title=""> </a>
													</div-->													

                                            </div>
                                            <div class="portlet-body form">
                                                <!-- BEGIN FORM-->
                                                <form action="#" class="horizontal-form">
                                                    <div class="form-body">
                                                        <h3 class="form-section">Welcome {{userName}} Enter Search Criteria below:</h3>
														
														<!--Criteria row starts-->
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Search Criteria #1</label>
                                                                    <input type="text" id="criteriaName0" name="criteriaName0" list="parcel_headers" class="form-control" placeholder="Enter Search Criteria #1" [(ngModel)]="searchcriteria[0].criteriaName" >
								
																	
                                                                    <!--span class="help-block"> This is inline help </span-->
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-4">
																<div class="form-group">
																	<label>Condition</label>
																	<select id="criteriaCondition0" name="criteriaCondition0" class="form-control" [(ngModel)]="searchcriteria[0].criteriaCondition" >
																		<option value="<">Less Than</option>
																		<option value=">">Greater Than</option>
																		<option value="=">Equals</option>
																		<option value="!=">Not Equals</option>
																	</select>
																</div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-4">
                                                                <!--div class="form-group has-error"-->
                                                                <div class="form-group">																
                                                                    <label class="control-label">Condition Value</label>
                                                                    <input type="text" id="criteriaValue0" name="criteriaValue0" class="form-control" placeholder="Enter condition value" [(ngModel)]="searchcriteria[0].criteriaValue">
                                                                </div>
                                                            </div>															
                                                        </div>
														<!--Criteria row ends-->														

														<!--Criteria row starts-->
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Search Criteria #2</label>
                                                                    <input type="text" id="criteriaName1" name="criteriaName1" list="parcel_headers" class="form-control" placeholder="Enter Search Criteria #2" [(ngModel)]="searchcriteria[1].criteriaName" >
								
																	
                                                                    <!--span class="help-block"> This is inline help </span-->
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-4">
																<div class="form-group">
																	<label>Condition</label>
																	<select id="criteriaCondition1" name="criteriaCondition1" class="form-control" [(ngModel)]="searchcriteria[1].criteriaCondition" >
																		<option value="<">Less Than</option>
																		<option value=">">Greater Than</option>
																		<option value="=">Equals</option>
																		<option value="!=">Not Equals</option>
																	</select>
																</div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-4">
                                                                <!--div class="form-group has-error"-->
                                                                <div class="form-group">																
                                                                    <label class="control-label">Condition Value</label>
                                                                    <input type="text" id="criteriaValue1" name="criteriaValue1" class="form-control" placeholder="Enter condition value" [(ngModel)]="searchcriteria[1].criteriaValue">
                                                                </div>
                                                            </div>															
                                                        </div>
														<!--Criteria row ends-->			

														<!--Criteria row starts-->
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Search Criteria #3</label>
                                                                    <input type="text" id="criteriaName2" name="criteriaName2" list="parcel_headers" class="form-control" placeholder="Enter Search Criteria #3" [(ngModel)]="searchcriteria[2].criteriaName" >
								
																	
                                                                    <!--span class="help-block"> This is inline help </span-->
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-4">
																<div class="form-group">
																	<label>Condition</label>
																	<select id="criteriaCondition2" name="criteriaCondition2" class="form-control" [(ngModel)]="searchcriteria[2].criteriaCondition" >
																		<option value="<">Less Than</option>
																		<option value=">">Greater Than</option>
																		<option value="=">Equals</option>
																		<option value="!=">Not Equals</option>
																	</select>
																</div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-4">
                                                                <!--div class="form-group has-error"-->
                                                                <div class="form-group">																
                                                                    <label class="control-label">Condition Value</label>
                                                                    <input type="text" id="criteriaValue2" name="criteriaValue2" class="form-control" placeholder="Enter condition value" [(ngModel)]="searchcriteria[2].criteriaValue">
                                                                </div>
                                                            </div>															
                                                        </div>
														<!--Criteria row ends-->			

														<!--Criteria row starts-->
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Search Criteria #4</label>
                                                                    <input type="text" id="criteriaName3" name="criteriaName3" list="parcel_headers" class="form-control" placeholder="Enter Search Criteria #4" [(ngModel)]="searchcriteria[3].criteriaName" >
								
																	
                                                                    <!--span class="help-block"> This is inline help </span-->
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-4">
																<div class="form-group">
																	<label>Condition</label>
																	<select id="criteriaCondition3" name="criteriaCondition3" class="form-control" [(ngModel)]="searchcriteria[3].criteriaCondition" >
																		<option value="<">Less Than</option>
																		<option value=">">Greater Than</option>
																		<option value="=">Equals</option>
																		<option value="!=">Not Equals</option>
																	</select>
																</div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-4">
                                                                <!--div class="form-group has-error"-->
                                                                <div class="form-group">																
                                                                    <label class="control-label">Condition Value</label>
                                                                    <input type="text" id="criteriaValue3" name="criteriaValue3" class="form-control" placeholder="Enter condition value" [(ngModel)]="searchcriteria[3].criteriaValue">
                                                                </div>
                                                            </div>															
                                                        </div>
														<!--Criteria row ends-->			


														<!--Criteria row starts-->
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Search Criteria #5</label>
                                                                    <input type="text" id="criteriaName4" name="criteriaName4" list="parcel_headers" class="form-control" placeholder="Enter Search Criteria #5" [(ngModel)]="searchcriteria[4].criteriaName" >
								
																	
                                                                    <!--span class="help-block"> This is inline help </span-->
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-4">
																<div class="form-group">
																	<label>Condition</label>
																	<select id="criteriaCondition4" name="criteriaCondition4" class="form-control" [(ngModel)]="searchcriteria[4].criteriaCondition" >
																		<option value="<">Less Than</option>
																		<option value=">">Greater Than</option>
																		<option value="=">Equals</option>
																		<option value="!=">Not Equals</option>
																	</select>
																</div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-4">
                                                                <!--div class="form-group has-error"-->
                                                                <div class="form-group">																
                                                                    <label class="control-label">Condition Value</label>
                                                                    <input type="text" id="criteriaValue4" name="criteriaValue4" class="form-control" placeholder="Enter condition value" [(ngModel)]="searchcriteria[4].criteriaValue">
                                                                </div>
                                                            </div>															
                                                        </div>
														<!--Criteria row ends-->																	
 

                                                    </div>
													
                                                    <div class="form-actions left">
                                                        <button type="button" class="btn blue" (click)="saveSearchClicked()">Save Search Criteria</button>&nbsp;													
                                                        <button type="button" class="btn blue" (click)="searchClicked()">
                                                            <i class="fa fa-check"></i> Search</button> &nbsp;

                                                        <button type="button" class="btn blue" (click)="pointsConfigurationClicked()">
                                                                Points Configuration</button>                                                            
                                                    </div>
													
                                                </form>
                                                <!-- END FORM-->
                                            </div>
											
																	
										<datalist id="parcel_headers">
											<option *ngFor="let headerValue of csvHeaders; index as idx" value="{{ idx+1 }}:{{ headerValue }}">{{ idx+1 }}:{{ headerValue }}</option>
										</datalist>

 
											
                                        </div>