<div>
   
   Total results returned :      {{data.length}}
   <br/>
</div>    
<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
  <tr>
  
      <th style="width: 05%">
          Sr. No.
      </th>
  
      <th style="width: 05%">
          <mfDefaultSorter by="totalpoints">totalpoints</mfDefaultSorter>
      </th>
      <th style="width: 05%">
          <mfDefaultSorter by="fulladdress">fulladdress</mfDefaultSorter>
      </th>
      <th style="width: 05%">
          <mfDefaultSorter by="jurisdiction">jurisdiction</mfDefaultSorter>
      </th>
      <th style="width: 05%">
          <mfDefaultSorter by="sumallcards">sumallcards</mfDefaultSorter>
      </th>
	  
      <th style="width: 05%">
          <mfDefaultSorter by="saleinstrumenttype1">saleinstrumenttype1</mfDefaultSorter>
      </th>

      <th style="width: 05%">
          <mfDefaultSorter by="salevaliditydescription1">salevaliditydescription1</mfDefaultSorter>
      </th>

      <th style="width: 05%">
          <mfDefaultSorter by="saledateymd1">saledateymd1</mfDefaultSorter>
      </th>

      <th style="width: 05%">
          <mfDefaultSorter by="saleprice1">saleprice1</mfDefaultSorter>
      </th>

      <th style="width: 05%">
          <mfDefaultSorter by="saledateymd2">saledateymd2</mfDefaultSorter>
      </th>	  
	  
      <th style="width: 05%">
          <mfDefaultSorter by="saleprice2">saleprice2</mfDefaultSorter>
      </th>	

      <th style="width: 05%">
         
      </th>	 	  
	  
	  
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let searchResult of mf.data; index as idx">
      <!--td>{{user.name | lowercase}}</td>
      <td>{{user.email | lowercase}}</td>
      <td>{{user.age | lowercase}}</td>
      <td>{{user.city | lowercase}}</td-->
     <td>{{idx+1}}</td>		  
     <td>{{searchResult.totalpoints | lowercase}}</td>	  
     <td>{{searchResult.csv_dumpcol33 | lowercase}}</td>		 
     <td>{{searchResult.csv_dumpcol45 | lowercase}}</td>		 	 
     <td>{{searchResult.csv_dumpcol107 | lowercase}}</td>		 	 	 
     <td>{{searchResult.csv_dumpcol79 | lowercase}}</td>		 	 	 
     <td>{{searchResult.csv_dumpcol97 | lowercase}}</td>		 	 	 
     <td>{{searchResult.csv_dumpcol73 | lowercase}}</td>		 	 	 
     <td>{{searchResult.csv_dumpcol91 | lowercase}}</td>		 	 	 
     <td>{{searchResult.csv_dumpcol74 | lowercase}}</td>		 	 	 
     <td>{{searchResult.csv_dumpcol92 | lowercase}}</td>	
     <td><button type="button" class="btn blue" (click)="showDetailsScreen(searchResult.csv_dumpcol1)">Details</button></td>	 
	  
  </tr>
  </tbody>
  <tfoot>
  <tr>
      <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
  </tr>
    </tfoot>
</table>
