<div class="navbar">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">TarGIS Application</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a (click)="this.router.navigateByUrl('/searchbox')">Search Screen</a>
        </li>
        <li>
          <a (click)="this.router.navigateByUrl('/pointsconfiguration')">Points Configuration Screen</a>
        </li>
        <li>
          <a (click)="this.router.navigateByUrl('/login')">Log Out</a>
        </li>
        <li *ngIf="isAdmin=='1'">
          <a (click)="this.router.navigateByUrl('/userregistration')">User Registration</a>
        </li>        
      </ul>
    </div>
  </div>