<app-targisheader></app-targisheader>
<div class="col-md-6">
                                                <div class="portlet box blue">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="fa fa-gift"></i> User Registration Form </div>

                                                    </div>
                                                    <div class="portlet-body form">
                                                        <!-- BEGIN FORM-->
                                                        <form action="#">

                                                            <div class="form-body">

                                                                <div class="form-group">
                                                                    <label class="control-label">Email Address</label>
                                                                    <div class="input-group">
                                                                        <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Username" name="username" [(ngModel)]="user.username"  required/> 
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Password</label>
                                                                    <div class="input-group">
                                                                        <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Password" name="password"  [(ngModel)]="user.password" required/> 
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-actions">
                                                                <button type="submit" class="btn green" (click)="userRegistrationRequest()">Submit</button>
                                                                &nbsp;
                                                                <button type="button" class="btn default">Cancel</button>
                                                            </div>
                                                        </form>
                                                        <h4 style="color: #e01616">{{userregistrationmessage}}</h4>                                                        
                                                        <!-- END FORM-->
                                                    </div>
                                                </div>
                                            </div>
